* {
  margin: 0;
  padding: 0;
}
canvas {
  margin: 0 auto;
  display: block;
  border-left: 0;
  border-right: 0;
  background: #241C1F;
}
p {
  position: absolute;
  margin: 10px;
  color: #ffffff;
}