body {
  background: #000;
  overflow: hidden;
}

canvas {
  bottom: 0;
  box-shadow: 0 0 0 10px #111;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
